ref_folder="./reference/"

#data for 

startpath = "/frazer01/home/aphodges/software/my_hla_typing/" #"/frazer01/projects/CEGS/analysis/hla_type_1kgp/"
genef = "pipeline/hla_typing/gene_info.txt"
idf = "pipeline/hla_typing/id2url.txt"
hlaset = c("HG00187", "HG01924", "HG01926", "HG01927", "NA19154")
hla_typing_path_ = "/frazer01/home/aphodges/software/my_hla_typing/hla_typing.sh"   
allele_path_ = "/frazer01/home/aphodges/software/my_hla_typing/reference/alleles.txt"       
mapx = "/frazer01/software/beagle-5.4/plink.GRCh37.map/plink.chr6.GRCh37.map"
